*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poopins" sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100hv;
    overflow: hidden;
    background:blueviolet ;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom:10px solid silver;
}
.left{
    float: left;
}
.right{
    float: right;
}